<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Deeply"
        tools:targetApi="31">

        <!-- Launcher: Login -->
        <activity
            android:name=".screens.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dashboard hub -->
        <activity android:name=".screens.dashboard.DashboardActivity" />

        <!-- Session loop -->
        <activity android:name=".screens.presession.PreSessionActivity" />
        <activity android:name=".screens.activesession.ActiveSessionActivity" />
        <activity android:name=".screens.postsession.PostSessionActivity" />

        <!-- Other screens -->
        <activity android:name=".screens.profile.ProfileActivity" />
        <activity android:name=".screens.history.HistoryActivity" />

    </application>

</manifest>
